// Measurements (m-)
$gutter: 24px;
$m-nav-height: 60px;
$m-mobile-nav-height: 48px;

// Breakpoints (break-)
$break-lap: 1023px;
$break-mobile: 960px;
$break-palm: 480px;

// Colours
$c-red: #FA3E49;
